---
import AngularIcon from '../icons/AngularIcon.astro';
import CssIcon from '../icons/CssIcon.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import HtmlIcon from '../icons/HtmlIcon.astro';
import LinkIcon from '../icons/LinkIcon.astro';
import RxJsIcon from '../icons/RxJsIcon.astro';
import TypeScriptIcon from '../icons/TypeScriptIcon.astro';

const { title, description, img,siteLink,githubLink } = Astro.props;
---

<div
  class='ProjectCard flex flex-col relative max-w-[350px] sm:min-w-[320px] sm:max-w-[320px] lg:min-w-[384px] lg:max-w-sm min-h-[375px] max-h-[375px] rounded-lg shadow group hover:shadow-2xl transition-transform duration-300 overflow-hidden drop-glow'
>
  <!-- <a href='#'> -->
  <img
    class='card_img object-cover min-h-[210px] max-h-[210px] w-full rounded-t-lg transition-all group-hover:opacity-20 group-hover:blur-[2px] duration-300 group-hover:scale-110'
    src={img}
    src='/rest-countries-api.png'
    alt='rest_country_app'
  />
  <!-- </a> -->
  <div
    class='flex flex-col flex-1 justify-between p-5 transition-all duration-300 group-hover:opacity-20 group-hover:blur-[2px]'
  >
    <div class='flex flex-col'>
      <h5
        class='mb-2 text-2xl font-bold tracking-tight text-white dark:text-white'
      >
        {title}
      </h5>

      <p class='mb-3 font-normal text-gray-400'>
        {description}
      </p>
    </div>

    <footer class='flex gap-3'>
      <slot name='tech_icons' />
    </footer>
  </div>
  <div
    class='absolute top-0 left-0 w-full h-full flex items-center justify-center gap-6 opacity-0 transition-opacity group-hover:opacity-100 text-white'
  >
    <a href={siteLink} target="_blank">
      <LinkIcon width='30' height='30' />
    </a>
    <a href={githubLink} target="_blank">
      <GithubIcon width='32' height='32' />
    </a>
  </div>
</div>

<style>
  .card_img {
    filter: drop-shadow(0 0 37px rgba(203, 209, 221, 0.12));
    -webkit-box-reflect: below 2px
      linear-gradient(transparent, transparent, transparent, #04060f28);
    transition: 0.4s;
    border-style: none;
  }

  .drop-glow{
    filter: drop-shadow(0 0 37px rgba(203, 209, 221, 0.12));
  }

  @keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* .grid {
  animation: fadeInUp 1s ease-in-out;
} */

.ProjectCard {
  opacity: 0;
}
.fadeInUp {
  animation: fadeInUp 1s ease-in-out;
  opacity: 1;
}
</style>


